@charset "utf-8";

/* common */

body, h1, h2, h3, ul, p {
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  opacity: .8;
}

img {
  vertical-align: bottom;
}

h2 {
  font-size: 20px;
}

ul {
  list-style: none;
}

h3 {
  margin-top: 8px;
  font-size: 16px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  width: calc(100% - 32px - 32px);
  box-sizing: border-box;
}

/* header */

header {
  padding: 32px 0;
}

header h1:hover {
  opacity: .8;
}

/* footer */
footer {
  margin-top: 32px;
  text-align: center;
}

small {
  font-size: 14px;
}

/* products */
.products {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

li {
  width: calc((100% - 32px - 32px) / 3);
  box-sizing: border-box;
}

li img {
  width: 100%;
  height: auto;
}

/* product */
.product {
  display: flex;
  gap: 32px;
}

.product > div {
  width: calc((100% - 32px) / 2);
}

.product-info h2 {
  font-size: 20px;
}

.product-info p {
  margin-top: 16px;
}

button {
  padding: 8px 16px;
  margin-top: 16px;
  cursor: pointer;
}

.product img {
  width: 100%;
  height: auto;
}
